{% extends "base.html" %}

{% block content %}
<style>
   .flex {
    display: flex;
    justify-content: center;
    }
   .flex-item + .flex-item {
     margin-left: 10px;
    }


</style>
<h1>Рецепты блюд</h1>
<div class="flex">
    <form class="flex-item">
        <a href="/soup" class="btn btn-primary">Супы</a>
        <a href="/dish" class="btn btn-success">Основные блюда</a>
    </form>
</div>
<br>
<div class="flex">
    <form class="flex-item">
        <a href="/desserts" class="btn btn-warning">Десерты</a>
        <a href="/drinks" class="btn btn-danger">Напитки</a>
    </form>
</div>
{% endblock %}
